<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta author="Michael Gentilini">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <title>The Hottest News Reader Around</title>
</head>

<body>
  <header>
    <nav class="navbar text-white ml-2">
      <a class="navbar-brand text-white" href="/">
        <h1>
          Hot News Reader</h1>
      </a>
      <nav class="ml-auto">
        <a id="deleteAll" href="/delete" class="btn btn-danger mr-2"><i class="fas fa-trash "></i> Delete
        </a>
        <a id="save-article" href="/saved" class="btn btn-success mr-2"><i class="far fa-save "> View Saved</i></a>
      </nav>
    </nav>
  </header>

  <div class="container text-center">
    {{!-- <div class="mt-2 btn-group" role="group" aria-label="Basic example"> --}}
    <a href="/nyt" role="button" id="scrapeNyt" class="btn btn-lg btn-primary mt-3 mr-2">New York Times</a>
    <a href="/fox" role="button" id="scrapeFox" class="btn btn-lg btn-danger mt-3 mr-2">Fox News</a>
    <a href="/onion" role="button" id="scrapeOnion" class="btn btn-lg btn-warning text-white mt-3  mr-2">The Onion</a>
    <a href="/all" role="button" id="viewAll" class="btn btn-lg btn-dark mt-3">View All</a>
    {{!-- </div> --}}
  </div>

  {{#if message}}
  <div class="container mt-5">
    <div class="jumbotron text-center pt-5">
      <p class="display-4" style="color: white; font-weight: 700">{{message}}</p>
    </div>
  </div>
  {{/if }}

  {{{body}}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
  <script src="js/index.js"></script>

  <footer class="mt-auto py-3">
    <div class="container">
      <a href="https://github.com/dallasappraiser/Mongoose-News-Scraper">Find it on GitHub <i
          class="fab fa-github"></i></a>
    </div>
  </footer>
</body>

</html>