<section>
  <div class="container">
    <div class="jumbotron bg-light mt-1 text-center">
      <img class="wrongWay" src="img/img404.jpg">
      <h5 class=" display-5 text-center mt-5">Looks like you're trying to go somewhere that doesn't exist</h5>
      <div class="text-center">
        <br>
        <a class="btn btn-lg btn-outline-danger" href="/" role="button">Take Me Home</a>
      </div>
    </div>
  </div>
</section>