<section>
  <div class="container">
    <div class="card text-center ">
      <div class="card-body border-danger">
        <h2 class="fox-card-title bg-danger text-white pt-3 pb-3">Fox Results</h2>
        <div class="card border-danger text-danger mt-3" id="foxResults">Results GO Here</div>
        <a href="/saved" class="btn btn-success mt-3" role="button" aria-pressed="true">View Saved</a>
        <a href="/" class="btn btn-danger ml-4 mt-3" role="button" aria-pressed="true">Take Me Home</a>
      </div>
    </div>
  </div>
</section>