<body>

  <section>
    <div class="container">
      <div class="form-group mt-5 mb-2 form-inline">
        <div class="mt-2 btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-lg btn-primary ml-5">New York Times</button>
          <button type="button" class="btn btn-lg btn-danger ml-5">Fox</button>
          <button type="button" class="btn btn-lg btn-warning ml-5">The Onion</button>
        </div>

      </div>
    </div>


  </section>
</body>