<body>

  <section>
    <div class="container">
      <div class="form-group mt-5 mb-2 form-inline">
        <div class="mt-2 btn-group" role="group" aria-label="Basic example">
          <a href="/nyt" role="button" id="scrapeNyt" class="btn btn-lg btn-primary ml-5">New York Times</a>
          <a href="/fox" role="button" id="scrapeFox" class="btn btn-lg btn-danger ml-5">Fox</a>
          <a href="/onion" role="button" id="scrapeOnion" class="btn btn-lg btn-warning ml-5">The Onion</a>
        </div>

      </div>
    </div>


  </section>
</body>