<section>
  <div class="container">
    <div class="card text-center ">
      <div class="card-body border-primary">
        <img class="card-img-top" src="/img/nyt.jpg" alt="Card image cap">
        <h2 class="nyt-card-title bg-primary text-white pt-3 pb-3">New York Times Results</h2>
        <div class="card border-primary text-primary mt-3" id="nytResults">

          {{#each articles}}
          <div data-_id={{this._id}} class="card">
            <div class="card-header">
              <h3>
                <a class="article-link" target="_blank" rel="noopener noreferrer"
                  href="{{this.link}}">{{this.title}}</a>
                <a class="btn btn-danger delete">Delete From Saved</a>
                <a class="btn btn-info notes">Article Notes</a>
              </h3>
            </div>
          </div>
          {{/each}}

          {{#unless articles.length}}
          <h4 class="text-center">Looks like we don't have any articles.</h4>
          {{/unless}}
        </div>
        <a href="/saved" class="btn btn-success mt-3" role="button" aria-pressed="true">View Saved</a>
        <a href="/" class="btn btn-primary ml-4 mt-3" role="button" aria-pressed="true">Take Me Home</a>
      </div>
    </div>
  </div>
</section>