<section>
  <div class="container">
    <div class="card text-center ">
      <div class="card-body border-success">
        <h2 class="saved-card-title bg-success text-white pt-3 pb-3">Saved Results</h2>
        <div class="card border-success text-success mt-3" id="savedResults">Results GO Here</div>
        <a href="/" class="btn btn-success mt-3" role="button" aria-pressed="true">Take Me Home</a>
      </div>
    </div>
  </div>
</section>